.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-dark {
  color: var(--navy-blue);
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0; /* Высота хедера регулируется паддингами ссылок */
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
  margin-left: auto; /* Прижимает контакты к правому краю */
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}